{% extends 'base.html' %}

{% block body %}
    <div>
        <form hx-post="{% url 'web_app-register-validation' %}" hx-swap="innerHTML" hx-target=".errors" id="register-form">
            {% csrf_token %}
            <div>
                <div id="inputs">
                <div class="errors">
                </div>
                {{ form.email.label }}
                {{ form.email }}
            
                {{ form.password.label }}
                {{ form.password }}
                
                </div>
                <a hx-push-url="true" hx-get="{% url 'web_app-login' %}" hx-swap="outerHTML" hx-target="#register-form" preload="mouseover">Need to Login</a>
                <button type="submit">Submit</button>   
            </div>
        </form>
    </div>
{% endblock %}